<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WYmusic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>172CAF091EC0A91200362AC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>172CAF1D1EC0A91200362AC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>172CAF281EC0A91200362AC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
